<p>Welcome to Bluebadge Parking.</p>


<table class="table table-striped">
  <thead>
  <tr>
    <!--th>ID</th-->
    <th>Badge ID</th>
    <th>Location</th>
    <th>No. Spaces</th>
    <th>Description</th>
    <th>Street</th>
    <th>Latitude</th>
	 <th>Longitude</th>
	  <th>Eastitm</th>
	   <th>NorthItm</th>
	    <th>Eastig</th>
		 <th>NorthIG</th>
  </tr>
  <tr>
    
	   <td> <input class="form-control" ng-model="spots.badgeid"> </td>
	   <td> <input class="form-control" ng-model="spots.location"> </td>
      <td> <input class="form-control" ng-model="spots.no_spaces"> </td>
      <td> <input class="form-control" ng-model="spots.description"> </td>
      <td> <input class="form-control" ng-model="spots.street"> </td>
	  <td> <input class="form-control" ng-model="spots.latitude"> </td>
	   <td> <input class="form-control" ng-model="spots.longitude"> </td>
      <td> <input class="form-control" ng-model="spots.eastitm"> </td>
      <td> <input class="form-control" ng-model="spots.northitm"> </td>
      <td> <input class="form-control" ng-model="spots.eastig"> </td>
	  <td> <input class="form-control" ng-model="spots.northig"> </td>
	  
	  
      

      <td><button class="btn btn-primary" ng-click="addMeters()">Add</button></td>
      <td> <button class ="btn info" ng-click="update()"> Update</button>&nbsp; &nbsp;
        <button class="btn info" ng-click="deselect()">Clear</button>
      </td>
    </tr>
  </thead>
  <thead>

  <tr ng-repeat="spots in bluebadge">
    <!--Printing the parking spots-->
    <td>{{spots.badgeid}}</td>
    <td>{{spots.location}}</td>
    <td>{{spots.no_spaces}}</td>
    <td>{{spots.description }}</td>
    <td>{{spots.street }}</td>
    <td>{{spots.latitude }}</td>
    <td>{{spots.longitude }}</td>
    <td>{{spots.eastitm }}</td>
    <td>{{spots.northitm }}</td>
    <td>{{spots.eastig }}</td>
    <td>{{spots.northig }}</td>

	<td><buttton class="btn btn-danger" ng-click="remove(spots._id)">Remove</buttton></td>
    <td><buttton class="btn btn-warning" ng-click="edit(spots._id)">Edit</buttton></td>
  </tr>
  </thead>
</table>


