<h1>Welcome to Bluebadge Parking.</h1>
<div>
	<label>Search</label>
		<input type="text" ng-model="search" class="form-control" placeholder="Search"></input>
 </div>


<table class="table table-striped">
  <thead>
  <tr>
    <!--th>ID</th-->
    <th ng-click="sort('badgeid')">Badge ID
		<span class="glyphicon sort-icon" ng-show="sortKey=='badgeid'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	</th>
    <th ng-click="sort('location')">Location
		<span class="glyphicon sort-icon" ng-show="sortKey=='location'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	</th>
    <th ng-click="sort('no_spaces')">No. Spaces
		<span class="glyphicon sort-icon" ng-show="sortKey=='no_spaces'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	</th>
    <th ng-click="sort('description')">Description
		<span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	</th>
    <th ng-click="sort('street')">Street
		<span class="glyphicon sort-icon" ng-show="sortKey=='street'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	</th>
    <th ng-click="sort('latitude')">Latitude
		<span class="glyphicon sort-icon" ng-show="sortKey=='latitude'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	</th>
	 <th ng-click="sort('longitude')">Longitude
		<span class="glyphicon sort-icon" ng-show="sortKey=='longitude'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	 </th>
	  <th ng-click="sort('eastitm')">Eastitm
		<span class="glyphicon sort-icon" ng-show="sortKey=='eastitm'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	 </th>
	 <th ng-click="sort('northitm')">NorthItm
		<span class="glyphicon sort-icon" ng-show="sortKey=='northitm'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	 </th>
	 <th ng-click="sort('eastig')">Eastig
		<span class="glyphicon sort-icon" ng-show="sortKey=='eastig'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	 </th>
	 <th ng-click="sort('northig')">NorthIG
		<span class="glyphicon sort-icon" ng-show="sortKey=='northig'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	 </th>
   
  </tr>
  <tr>
    
	   <td> <input class="form-control" ng-model="spots.badgeid"> </td>
	   <td> <input class="form-control" ng-model="spots.location"> </td>
      <td> <input class="form-control" ng-model="spots.no_spaces"> </td>
      <td> <input class="form-control" ng-model="spots.description"> </td>
      <td> <input class="form-control" ng-model="spots.street"> </td>
	  <td> <input class="form-control" ng-model="spots.latitude"> </td>
	   <td> <input class="form-control" ng-model="spots.longitude"> </td>
      <td> <input class="form-control" ng-model="spots.eastitm"> </td>
      <td> <input class="form-control" ng-model="spots.northitm"> </td>
      <td> <input class="form-control" ng-model="spots.eastig"> </td>
	  <td> <input class="form-control" ng-model="spots.northig"> </td>
	  
      <td><button class="btn btn-primary" ng-click="addBluebadge()">Add New</button></td>
      <td> <button class ="btn info" ng-click="update()"> Update</button>&nbsp; &nbsp;
        <button class="btn info" ng-click="deselect()">Clear</button>
      </td>
    </tr>
  </thead>
  <thead>

  <tr ng-repeat="spots in bluebadge|orderBy:sortKey:reverse|filter:search">
    <!--Printing the parking spots-->
    <td>{{spots.badgeid}}</td>
    <td>{{spots.location}}</td>
    <td>{{spots.no_spaces}}</td>
    <td>{{spots.description }}</td>
    <td>{{spots.street }}</td>
    <td>{{spots.latitude }}</td>
    <td>{{spots.longitude }}</td>
    <td>{{spots.eastitm }}</td>
    <td>{{spots.northitm }}</td>
    <td>{{spots.eastig }}</td>
    <td>{{spots.northig }}</td>

	 <td> <button class ="btn btn-danger" ng-click="remove(spots._id)"> Remove</button></td>
     <td> <button class ="btn btn-warning" ng-click="edit(spots._id)"> Edit</button></td>
  </tr>
  </thead>
</table>


