<div class="jumbotron">
   <h1>'Welcome to Galway City Parking API!</h1>
  <p class="lead">
    <img src="images/galwaycity.png" alt="GMIT"><br>
    Find all suitable car parking spots around Galway City.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="http://localhost:3000/parking">Find Row Data<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>What's there for you...</h4>
  <p>
    Using the navigation links above, you will be able to check on the available car parking locations around Galway.
  </p>

  <h4>Car Parking Raw Data</h4>
  <p>
	<a href="https://galwayparkingapitest.herokuapp.com/parking"> Click here</a> 
  </p>

  <h4>Meter Parking Raw Data</h4>
  <p>
	<a href="https://galwayparkingapitest.herokuapp.com/meters"> Click here</a> 
  </p>
  
  <h4>Blue Badge Parking Raw Data</h4>
 <p>
	<a href="https://galwayparkingapitest.herokuapp.com/bluebadge"> Click here</a> 
  </p>
</div>
