
  <h1>Welcome to Galway Car Parking</h1>
	 <div>
	<label>Search</label>
		<input type="text" ng-model="search" class="form-control" placeholder="Search"></input>
 </div>
 <table class="table">
    <thead>
    <tr>
      <th ng-click="sort('parkingid')">ID
		<span class="glyphicon sort-icon" ng-show="sortKey=='parkingid'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	  </th>
      <th ng-click="sort('name')">Name
		<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	  </th>
	  <th ng-click="sort('type')">Types
		<span class="glyphicon sort-icon" ng-show="sortKey=='type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	  </th>
      <th ng-click="sort('no_spaces')">No.Spaces
		<span class="glyphicon sort-icon" ng-show="sortKey=='no_spaces'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	  </th>
      <th ng-click="sort('latitude')">Latitude
		<span class="glyphicon sort-icon" ng-show="sortKey=='latitude'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	  </th>
      <th ng-click="sort('longitude')">Longitude
		<span class="glyphicon sort-icon" ng-show="sortKey=='longitude'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	  </th>
	  <th ng-click="sort('eastitm')">EastITM
		<span class="glyphicon sort-icon" ng-show="sortKey=='eastitm'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	  </th>
      <th ng-click="sort('northitm')">NorthITM
		<span class="glyphicon sort-icon" ng-show="sortKey=='northitm'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	  </th>
      <th ng-click="sort('eastig')">EastIG
		<span class="glyphicon sort-icon" ng-show="sortKey=='eastig'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	  </th>
	  <th ng-click="sort('northig')">NorthIG 
		<span class="glyphicon sort-icon" ng-show="sortKey=='northig'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
	  </th>
     
    </tr>
    </thead>
    <tbody>

    <tr>

     
	  
	   <td> <input class="form-control" ng-model="spots.parkingid"> </td>
      <td> <input class="form-control" ng-model="spots.name"> </td>
	  <td> <input class="form-control" ng-model="spots.type"> </td>
      <td> <input class="form-control" ng-model="spots.no_spaces"> </td>
      <td> <input class="form-control" ng-model="spots.latitude"> </td>
      <td> <input class="form-control" ng-model="spots.longitude"> </td>
      <td> <input class="form-control" ng-model="spots.eastitm"> </td>
      <td> <input class="form-control" ng-model="spots.northitm"> </td>
      <td> <input class="form-control" ng-model="spots.eastig"> </td>
      <td> <input class="form-control" ng-model="spots.northig"> </td>



      <td><button class="btn btn-primary" ng-click="addParking()">Add New</button></td>
      <td> <button class ="btn info" ng-click="update()"> Update</button>&nbsp; &nbsp;
      <button class="btn info" ng-click="deselect()">Clear</button>
      </td>
    </tr>
    <!--tr ng-repeat="spots in parking"-->


    <tr ng-repeat="spots in parking|orderBy:sortKey:reverse|filter:search">
      <td>{{spots.parkingid}}</td>
      <td>{{spots.name}}</td>
	   <td>{{spots.type}}</td>
      <td>{{spots.no_spaces }}</td>
      <td>{{spots.latitude}}</td>
      <td>{{spots.longitude}}</td>
      <td>{{spots.eastitm }}</td>
      <td>{{spots.northitm}}</td>
      <td>{{spots.eastig}}</td>
      <td>{{spots.northig}}</td>
     

      <td> <button class ="btn btn-danger" ng-click="remove(spots._id)"> Remove</button></td>
      <td> <button class ="btn btn-warning" ng-click="edit(spots._id)"> Edit</button></td>
    </tr>
    </tbody>

  </table>
