
  <h1>Welcome to Galway Car Parking</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
	  <th>Types</th>
      <th>No.Spaces</th>
      <th>Latitude</th>
      <th>Longitude</th>
	  <th>EastITM</th>
      <th>NorthITM</th>
      <th>EastIG</th>
	  <th>NorthIG </th>

    </tr>
    </thead>
    <tbody>

    <tr>

     
	  
	   <td> <input class="form-control" ng-model="spots.parkingid"> </td>
      <td> <input class="form-control" ng-model="spots.name"> </td>
	  <td> <input class="form-control" ng-model="spots.type"> </td>
      <td> <input class="form-control" ng-model="spots.no_spaces"> </td>
      <td> <input class="form-control" ng-model="spots.latitude"> </td>
      <td> <input class="form-control" ng-model="spots.longitude"> </td>
      <td> <input class="form-control" ng-model="spots.eastitm"> </td>
      <td> <input class="form-control" ng-model="spots.northitm"> </td>
      <td> <input class="form-control" ng-model="spots.eastig"> </td>
      <td> <input class="form-control" ng-model="spots.northig"> </td>



      <td><button class="btn btn-primary" ng-click="addContact()">Add Contact</button></td>
      <td> <button class ="btn info" ng-click="update()"> Update</button>&nbsp; &nbsp;
        <button class="btn info" ng-click="deselect()">Clear</button>
      </td>
    </tr>
    <!--tr ng-repeat="spots in parking"-->


    <tr ng-repeat="spots in parking">
      <td>{{spots.parkingid}}</td>
      <td>{{spots.name}}</td>
	   <td>{{spots.type}}</td>
      <td>{{spots.no_spaces }}</td>
      <td>{{spots.latitude}}</td>
      <td>{{spots.longitude}}</td>
      <td>{{spots.eastitm }}</td>
      <td>{{spots.northitm}}</td>
      <td>{{spots.eastig}}</td>
      <td>{{spots.northig}}</td>
     

      <td> <button class ="btn btn-danger" ng-click="remove(spots._id)"> Remove</button></td>
      <td> <button class ="btn btn-warning" ng-click="edit(spots._id)"> Edit</button></td>
    </tr>
    </tbody>

  </table>
